p, h2, h3 {
    font-family:"Roboto";
}

body {
    background-color:#ffffff;
    font-family: "Roboto", sans-serif;
    color:#434445;
    
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434445;
}

body p{
    font-family:"Roboto";
}

li {
    display: inline;
}

div {
    border:1px;
    border-color:#2E2F42;
}

h3 {
    font-family: 'Roboto Medium', sans-serif;
    font-weight: 500;
    font-size: 20px;

    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

ul, ol {
    list-style-type:none;
}

/* header */
header {
    background-color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
     text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color:#4d5ae5;
    }
    header span {
        color:#2e2f42;
    }

.section-presentation #Studio:hover, 
.section-presentation #Portfolio:hover, 
.section-presentation #Contact:hover {
    color: #404BBF;
}

.section-presentation #Studio:active{
    color: #404BBF;
    }

/* Address selectors */
 .address {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434445;
    font-style:normal;
}
address a {
    color:#434455;
}
.address > a:hover, .address > a:focus {
    color:#404BBF;
}

/* logo */
.logo {
    font-family:"Raleway";
    font-weight: 700;
    color:#2e2f42;
}

.logo-span{
    font-family:"Raleway";
    font-weight: 700;
    color: #4d5ae5;
}
nav a:focus, nav a:hover {
    color: #404bbf
}

/* section presentation */
.section-presentation {
    background-color: #2E2F42;
    width: 100%;
    height: 600px;
} 

.h1-presentation {
    font-family:'Roboto';
    font-weight:700;
    color:#ffffff;
    text-align:center;
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}
div .h1-presentation {
    height:120; 
    width:496;
}


.order-button{
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
 
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;

    border-radius: 4px;
    width: 169px;
    height: 56px;
    cursor:pointer;
}

.order-button:hover, .order-button:focus {
    color:#404BBF;
}

/* section benefits */
.h2-text {
    font-weight: 500;
    font-size: 20px;

    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.studio-p {
    font-size:16px;
    line-height:1.5;
    letter-spacing:0.02em;
    color:#434455; 
}

/* section our team */
.section-our-team {
    background-color:#F4F4FD;
}
.h2 {
    font-size:36px;
    line-height:1.11;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.list-team {
    background-color: #ffffff;
}
.h3 {
    background-color: #ffffff;
    font-weight:500;
    font-size:20px;
    line-height:1.2;
    letter-spacing:0.02em;
    color:#2e2f42;
}
.portfolio-p {
    font: size 16px;
    line-height:1.5;
    letter-spacing: 0.02em;
    color:#434455;

}

.section-our-team div {
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    width: 264px;
    height: 380px;

    display: flex;
    align-items: center;
    flex-direction: column;
}
.section-our-team img {
    height: 260px;
    width: 264px;
}

/* section portfolio */
#Portfolio div {
    border-color: #E7E9FC;
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 360px;
    height: 420px;

    display: flex;
    justify-content: center;
    flex-direction: column;

    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

#Portfolio div p{
    font-size: 16px;
    
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);  
}


/* Footer */
footer {
    background-color: #2E2F42;
    color:#4d5ae5 ;
    font-family: "Raleway", sans-serif;
    font-weight:700;
    font-size:18px;
    line-height:1.17;
    letter-spacing:0.03em;
    text-transform: uppercase;

}
footer span {
    color: #f4f4fd;
}

